<div id="<%= dom_id subsidiary %>">
  <p class="fs-4" style="color: #1F3864">
    <strong>Nombre:</strong>
    <%= subsidiary.name %>
  </p>

  <p class="fs-4" style="color: #1F3864">
    <strong>Dirección:</strong>
    <%= subsidiary.address %>
  </p>

  <p class="fs-4" style="color: #1F3864">
    <strong>Número de télefono:</strong>
    <%= subsidiary.phone_number %>
  </p>

  <% if @subsidiary.bussiness_hours.empty? %>
    <p class="fs-4" style="color: #1F3864">
       Esta sucursal no tiene horarios de atención por ahora.
    </p> 
  <% end %>

</div>
