<div id="<%= dom_id subsidiary %>">
  <p>
    <strong>Name:</strong>
    <%= subsidiary.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= subsidiary.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= subsidiary.phone_number %>
  </p>

</div>
