<%= render "layouts/navbar" %>
<h1 class ="text-center" style="color: #1F3864">Editar Sucursal</h1>

<%= render "form", subsidiary: @subsidiary %>

<br>

<div>
  <%= button_to "Detalle", @subsidiary, method: :get %>
  <%= button_to "Volver", subsidiaries_path ,method: :get  %>
</div>
