<%= render "layouts/navbar" %>
<h1 class ="text-center" style="color: #1F3864">Editar Sucursal</h1>

<%= render "form", subsidiary: @subsidiary %>

<br>

<div>
  <%= link_to "Show this subsidiary", @subsidiary %> |
  <%= link_to "Back to subsidiaries", subsidiaries_path %>
</div>
