<%= render "layouts/navbar" %>
<h1 class ="text-center" style="color: #1F3864">Crear Sucursal</h1>

<%= render "form", subsidiary: @subsidiary %>

<br>

  <%= button_to "Volver", subsidiaries_path ,method: :get  %>
