<%= render "layouts/navbar" %>
<h1 class ="text-center" style="color: #1F3864">Detalle Sucursal</h1>

<%= render @subsidiary %>
<%= button_to "Volver", subsidiaries_path ,method: :get,class:"button1"  %>
