@import "bootstrap";

.navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.10;
}

.navbar .navbar-nav .nav-item .nav-link {
    border-left: 2px solid #FFFFFF;
}

.button1{
    background: #6aa6ed;
    color: white;
    width: 12%;
  }
